<<<<<<< Updated upstream

.drawer-container {
  width: 240px; /* Set width according to your design */
  padding: 20px;
}


.full-size-container {
  width: 97vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-container {
  width: 100%;
  height: 97.8vh;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url('../css/triangle.png');
  background-size: cover;
}

.header{
  display: flex;
  justify-content: space-between;
}

.home-header {
  margin-bottom: 15px;
  text-align: left;
}

.home-header h1 {
  font-size: 28px;
}

.user-info {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.user-details h4 {
  font-size: 24px;
  margin-bottom: 10px;
}


.welcome-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 80px 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.welcome-header {
  margin-bottom: 20px;
}

.welcome-header h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-nav ul li {
  margin-right: 10px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.welcome-content p {
  font-size: 18px;
}
=======
.drawer-container {
  width: 430px;
  padding: 15px;
}

.drawer-container {
  width: 240px; /* Set width according to your design */
  padding: 20px;
}


.full-size-container {
  width: 97vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.home-header {
  margin-bottom: 15px;
  text-align: left;
}

.home-header h1 {
  font-size: 28px;
}

.user-info {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.user-details h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 80px 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.welcome-header {
  margin-bottom: 20px;
}

.welcome-header h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-nav ul li {
  margin-right: 10px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.welcome-content p {
  font-size: 18px;
}

.prompt-details {
  text-align: left;
  margin-top: 20px;
}

.prompt-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.prompt-details p {
  font-size: 18px;
  margin: 5px 0;
}

.prompt-container {
  background-color: #D9D9D9;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.delete-button {
  color: #FA7171;
  font-size: 1.5rem;
  width: 36px;
  height: 36px;
}

.drawer-title {
  text-align: center;
  font-size: 35px; 
  margin-bottom: 25px;
}
>>>>>>> Stashed changes
